h1 {
  color: #ff0066;
  text-align: center;
  font-size: 3.5em;
  line-height: 2;
  font-family: fantasy;
}

h2, h3 {
  color: #ff0066;
  font-size: 2em;
}

img {
  width: 240px;
  height: 240px;
  margin: auto;
  border-radius: 50%;
  border: dashed #ff0066 25px;
}

div {
  width: 32%;
  float: left;
}

body {
  background-image: url(https://mdn.mozillademos.org/files/11307/bubbles.png),
                    linear-gradient(to right, rgba(30, 75, 115, 1),
                    rgba(255, 255, 255, 0));
  background-repeat: no-repeat, no-repeat, no-repeat;
  background-position: bottom right, left, right;
}
