img {
  border: 2px #ff0066 solid;
  padding: 5px;
}
h1 {
  color: #ff0066;
  text-align: center;
  font-size: 3.5em;
  line-height: 2;
  font-family: fantasy;
}

h2, h3 {
  font-size: 2em;
}

h3 {
  padding-top: 3em;
}

.clearfix {
  clear: both;
}

.col-xs-2 {
  width: 16%;
  float: left;
}

.students {
  background: linear-gradient(90deg, rgba(254,254,254,.4), rgba(0,0,0,.4));
  padding: 10px;
}

.action {
  padding: 10px;
  background: #ff0066;
  border: black 2px solid;
  color: black;
}

.family img {
  width: 240px;
  height: 240px;
  margin: auto;
  border-radius: 50%;
  border: dashed #ff0066 25px;
}

.family {
  width: 32%;
  float: left;
}

.pair {
  width: 16%;
  float: right;
}

.pair img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  border: dashed #ff0066 12px;
}


body {
  text-align: center;
  color: #ff0066;
  font-family: helvitica, arial, sans-serif;
  font-size: 1.1em;
  background-image: url(https://mdn.mozillademos.org/files/11307/bubbles.png),
                    linear-gradient(to right, rgba(30, 75, 115, 1),
                    rgba(255, 255, 255, 0));
  background-repeat: no-repeat, no-repeat, no-repeat;
  background-position: bottom right, left, right;
}
